* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 250px;
    height: auto;
}

.navbar > a {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    width: 500px;
    height: auto;
}

.project {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
}